<footer style="font-family:'Shabnam'" class="footer-area bg-f">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h3>درباره ی ما</h3>
                <p>.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h3>ساعت های باز</h3>
                <p><span class="text-color">دوشنبه: </span>بسته</p>
                <p><span class="text-color">سه شنبه-چهارشنبه :</span> ۹ صبح تا ۱۰ شب</p>
                <p><span class="text-color">پنجشنبه-جمعه :</span> ۹ صبح تا ۱۰ شب</p>
                <p><span class="text-color">شنبه-یکشنبه :</span> ۵ عصر تا ۱۰ شب</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h3>اطلاعات تماس</h3>
                <p class="lead">تهران، شهران شمالی</p>
                <p class="lead"><a href="#">۰۹۰۳۷۰۸۹۷۹۴</a></p>
                <p><a href="#"> amingit2022@gmail.com</a></p>
            </div>
        </div>
    </div>
    
</footer>